@model Quarto__Mese_BW.Models.Prodotto

@{
    ViewData["Title"] = "Dettagli";
}

<div class="pt-4">
    <h1>@Html.DisplayFor(model => model.Nome)</h1>
    <hr />
    <div class="d-flex justify-content-around">
        <div class="img-container">
            <img src="@Model.ImmagineUrl" class="w-100" alt="Alternate Text">
        </div>
        <div class="d-flex flex-column gap-3 description-div">
            <h5 class="details-description">@Html.DisplayFor(model => model.Descrizione)</h5>
            <hr />
            <div class="details-text fs-5 fw-normal">
                <p>Prezzo: @Html.DisplayFor(model => model.Prezzo) €</p>
                <p>Pezzi disponibili: @Html.DisplayFor(model => model.Stock)</p>
                <p>Categoria: @Html.DisplayFor(model => model.CategoriaID)</p>
            </div>
        </div>
    </div>
    <div class="text-center pt-5">
        <a href="@Url.Action("Index")" class="btn btn-outline-danger">Back to List</a>
    </div>
</div>