@model IEnumerable<Quarto__Mese_BW.Models.Prodotto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row">
        @foreach (var prodotto in Model)
        {
            <div class="col-md-4">
                <div class="card mb-4 shadow-sm">
                    <img src="@Url.Content(prodotto.ImmagineUrl)" class="card-img-top" alt="@prodotto.Nome">
                    <div class="card-body">
                        <h5 class="card-title">@prodotto.Nome</h5>
                        <p class="card-text">@prodotto.Prezzo.ToString("C")</p>
                        <div class="d-flex gap-4">
                        <a href="#" class="btn btn-primary">Aggiungi al carrello</a>
                        <form asp-controller="Home" asp-action="Dettagli">
                            <input type="hidden" name="id" value="@prodotto.ProductID" />
                            <button class="btn btn-warning" type="submit">Dettagli</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
