@model IEnumerable<Quarto__Mese_BW.Models.Prodotto>

@{
    ViewData["Title"] = "Home Page";
}

<div class="container">
    <div class="row py-3">
        <div class="col text-center">
            <h1 class="personal-font">Bakery House</h1>
            <hr />
        </div>
    </div>

    <div class="row mx-5 mx-md-0">
        @foreach (var prodotto in Model)
        {
            <div class="col-12 col-sm-6 col-md-4 col-lg-3 ">
                <div class="card mb-4 shadow-sm">
                    <img src="@Url.Content(prodotto.ImmagineUrl)" class="card-img-top" alt="@prodotto.Nome">
                    <div class="card-body">
                        <h5 class="card-title">@prodotto.Nome</h5>
                        <hr />
                        <p class="card-text fs-5 fw-light">Prezzo: @prodotto.Prezzo.ToString("C")</p>
                        <form asp-controller="Home" asp-action="Aggiungi" method="post" class="d-flex align-items-center justify-content-center gap-2">
                            <input type="hidden" name="productId" value="@prodotto.ProductID" />
                            <input type="number" name="quantità" value="1" min="1" class="form-control mb-2" style="width: 3em; background:transparent; color: white; margin-top: 8px" />
                            <button type="submit" class="btn btn-primary">Aggiungi al carrello</button>
                        </form>
                        <hr />
                        <form asp-controller="Home" asp-action="Dettagli" class="text-center">
                            <input type="hidden" name="id" value="@prodotto.ProductID" />
                            <button class="btn" type="submit">Dettagli</button>
                        </form>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
